<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HerokuTestCases.ProductManagementCart" parallel="tests" thread-count="2">
    <test name="HerokuTestCases.ProductManagementCart">
        <groups>
            <run>
                <include name="sanity"/>
                <include name="regression"/>
            </run>
        </groups>

        <classes>
            <class name="HerokuTestCases.ProductManagementCart">
            </class>
            <class name="HerokuTestCases.CheckoutAddressActions">
            </class>
        </classes>
    </test>
</suite>